- provide(:title, "Register")
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          h2.text-center
            | Sign up
        .panel-body
          = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.error_notification
            .form-group
              = f.input :user_name, required: true, autofocus: true
            .form-group
              = f.input :email, required: true, class: "form-control"
            .form-group
              = f.input :password, required: true, class: "form-control"
            .form-group
              = f.input :password_confirmation, required: true, class: "form-control"
            .form-group
              = f.label "Admin"
              = f.check_box :admin
            .form-actions.text-center
              = f.button :submit, "Sign up"
          = render "devise/shared/links"
