- if user_signed_in? && current_user.likes_album?(album)
  = form_tag album_like_path(album.id), method: :delete, remote: true do
    div
      = button_to 'Unlike','#', class: "btn btn-danger", remote: true
- else
  = form_tag album_like_path(album.id), method: :post, remote: true do
    div
      = button_to 'Like','#', class: "btn btn-success", remote: true
= album.likes.size
