- provide(:title, "Edit album")
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          p.text-center
            | Edit Album
        .panel-body
          = form_for @album,:html => { multipart: true } do |f|
            .form-group
              = f.label "Album name"
              = f.text_field :title, class: "form-control"
            .form-group
              = f.label :description
              = f.text_field :description, class: "form-control"
            .form-group
              = f.label :images
              = file_field_tag "images[]", type: :file, multiple: true
            .form-group
              = f.label "Private"
              = f.check_box :private
            = link_to "Back", albums_path, class: "btn btn-default"
            = f.submit "Edit Album", class: "btn btn-default pull-right"
