- provide(:title, "Timeline")
- @albums.each do |album|
  - if !album.private || current_user.id == album.user_id || current_user.admin?
    .panel.panel-info
      .panel-heading
        = User.find_by_id(album.user_id).user_name
      .panel-body
        div
          h4
            = album.title
          - if (current_user.id == album.user_id || current_user.admin?) && album.title != "Default"
            .dropdown.pull-right
              button#dropdownMenu1.btn.btn-default.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"]
                span.glyphicon.glyphicon-option-horizontal
              ul.dropdown-menu.dropdown-menu-right[aria-labelledby="dropdownMenu1"]
                li
                  a
                    = link_to 'Edit', edit_album_path(album.id)
                li
                  a
                    = link_to 'Delete', album_path(album.id), method: :delete, data: {confirm: t(:delete_album) }
        div[style="text-align: center;"]
          - album.posts.each do |post|
            div[style="display: inline-block;"]
              = link_to (image_tag post.image.url(:thumb)), album_path(album.id)
        .description
          = album.description
        div id="album_#{album.id}_likes"
          = render partial: 'albums/likes', locals: {album: album}
.text-center
  = paginate @albums
