- provide(:title, "Log in")
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          h2.text-center
            | Log in
        .panel-body
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.input :email, required: false, autofocus: true
            .form-group
              = f.input :password, required: false
            .form-group
              = f.label "Remember me"
              = f.check_box :remember_me, as: :boolean if devise_mapping.rememberable?
            .form-actions.text-center
              = f.button :submit, "Log in"
          = render "devise/shared/links"
