- if user_signed_in? && current_user.likes?(post)
  = form_tag post_like_path(post.id), method: :delete, remote: true do
    div
      = button_to 'Unlike','#', class: "btn btn-danger", remote: true
- else
  = form_tag post_like_path(post.id), method: :post, remote: true do
    div
      = button_to 'Like','#', class: "btn btn-success", remote: true
= post.likes.size
