- provide(:title, "Edit post")
.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          p.text-center
            | Edit post
        .panel-body
          = form_for @post do |f|
            .form-group
              = f.label :title
              = f.text_field :title, class: "form-control"
            .form-group
              = f.label :description
              = f.text_field :description, class: "form-control"
            .form-group
              = f.label :image
              = f.file_field :image
            .form-group
              = f.label "Private"
              = f.check_box :private
            = link_to "Back", posts_path, class: "btn btn-default"
            = f.submit "Update", class: "btn btn-default pull-right"
