- provide(:title, "Posts")
- @posts.each do |post|
  - if !post.private || current_user.id == post.album.user_id || current_user.admin?
    .panel.panel-info
      .panel-heading
        = link_to owner_post(post).user_name, timeline_path(owner_post(post).id)
      .panel-body
        div
          h4
            = post.title
          - if current_user.id == post.album.user_id || current_user.admin?
            .dropdown.pull-right
              button#dropdownMenu.btn.btn-default.dropdown-toggle[type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"]
                span.glyphicon.glyphicon-option-horizontal
              ul.dropdown-menu.dropdown-menu-right[aria-labelledby="dropdownMenu"]
                li
                  a
                    = link_to 'Edit', edit_post_path(post.id)
                li
                  a
                    = link_to 'Delete', post_path(post.id), method: :delete, data: {confirm: t(:delete_post) }
        = link_to (image_tag post.image.url, class:'image img-responsive center-block'), post_path(post.id)
        .description
          = post.description
        div id="post_#{post.id}_likes"
          = render partial: 'posts/likes', locals: {post: post}
.text-center
  = paginate @posts
