// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.image {
  border-bottom: 1px solid #eeefef;
  border-top: 1px solid #eeefef;
  max-width: 640px;
  max-height: 320px;
}

.description {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}


.tittle {
  padding: 24px 24px;
  font-size: 15px;
  line-height: 18px;
}

.pagination {
  display: center-block !important;
}