- provide(:title, "List of Users")
h1.text-center
  | List of Users
table.table.table-striped.table-hover
  thead
    tr
      th
        | Name
      th
        | Email
      th
        | Status
      th[colspan="2"]
        | Manipulation
  tbody
    - @users.each do |user|
      - if !user.admin?
        tr
          td
            = user.user_name
          td
            = user.email
          - if user.active
            td
              = link_to "Enable", admin_change_status_path(user.id),data: {confirm: t(:disable_user) }
          - else
            td
              = link_to "Disable", admin_change_status_path(user.id),data: {confirm: t(:enable_user) }
          td
            = link_to 'Destroy', admin_user_path(user), method: :delete , data: {confirm: t(:delete_user) }
          td
            = link_to 'Timeline', timeline_path(user)
