.container
  .header.clearfix
    nav
      ul.nav.nav-pills.pull-right[style="margin: 10px;"]
        li[role="presentation"]
          = link_to 'Post', posts_path
        li[role="presentation"]
          = link_to 'Album', albums_path
        - if user_signed_in?
          li[role="presentation"]
            = link_to 'My Photos', timeline_path(current_user.id)
          - if current_user.admin?
            li[role="presentation"]
              = link_to 'Users List', admin_users_path
        li.dropdown[role="presentation"]
          a.dropdown-toggle[data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"]
            span.glyphicon.glyphicon-user[aria-hidden="true"]
            - if user_signed_in?
              = current_user.user_name
            - else
              |  User 
            span.caret
          ul.dropdown-menu
            - if user_signed_in?
              li
                = link_to "New Post", new_post_path
              li
                = link_to "New Album", new_album_path
              li
                = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              li
                = link_to "Login", new_user_session_path
              li
                = link_to "Register", new_user_registration_path
